/* Общие стили */
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: white; /* Белый фон */
    color: black; /* Чёрный текст */
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
}

/* Главная ссылка */
.main-link {
    font-size: 25px;
    color: blue; /* Голубая ссылка */
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    display: block; /* Размещение отдельно */
}

.main-link:hover {
    text-decoration: underline; /* Эффект при наведении */
}

/* Заголовок */
h2 {
    font-size: 35px;
    margin: 20px 0;
}

/* Разделитель */
hr {
    border: none;
    border-top: 2px solid darkred; /* Тёмно-красный разделитель */
    width: 100%;
    margin: 20px 0;
}

/* Тема ДП */
h1 {
    font-size: 50px;
    margin-top: 30px;
}

/* Ссылки */
.links a {
    font-size: 18px;
    color: black; /* Чёрный цвет текста */
    text-decoration: none;
    margin: 10px 0;
    display: block; /* Расположение по левому краю */
    transition: color 0.3s ease;
    font-weight: bold;
}

.links a:hover {
    color: gray; /* Серый цвет при наведении */
}
